.linkedin a {
  text-decoration: none;
  color: blue;
}

.connect {
  text-align: center;
}

.connect button {
  font-size: 2em;
  border-color: white;
  background: white;
  border: solid;
  margin: 20px;
  margin-bottom: 60px;
  padding: 5px 12px;
  font-weight: bold;
}
